.header {
    background-color: rgb(0, 91, 151);
    color: #FFF;
    padding: 20px;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    font-family: fantasy;
}

.contacts {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
}